@import url('https://fonts.googleapis.com/css2?family=Doto:wght,ROND@645,80&family=Share+Tech+Mono&display=swap');
:root{
  --backcolor:#0D1117;
  --uicolor:#141B24;
  --uicolor2:#a1a8c0;
  --uiborder:#2d2f6a;
  --brödtext:#c0d6ec;
  --green:#6FE87A;
  --gold:#E8C44A;
  --probem:#C44040;
  --blue:#3A7BD5;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --outline: red 1px solid;
}

.doto-basic {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 645;
  font-style: normal;
  font-variation-settings:
    "ROUND" 80;
}

.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/*--------------------------------------------------------------------------*/

body {
  height:100dvh;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

header {
  height: 130px;
  width: 100%;
  position: sticky;
  top:-132px;
  background: var(--uicolor);
  transition: 0.15s;
  border-bottom: var(--uiborder) 2px solid;
  z-index: 1000;
  
}
#headerbutton {
  width: 500px;
  height: 30px;
  border-radius: 100px;
  corner-shape:square square bevel bevel;
  background: var(--uicolor);
  position: absolute;
  top: 129px;
  left: 50%;
  transform: translate(-50%, 0%);
  border: var(--uiborder) 2px solid;
  border-top: 0px solid transparent;
  z-index: 999;
}
.bar {
  width: 425px;
  height: 5px;
  background: var(--uicolor2);
  position: absolute;
  border-radius: 10px;
  corner-shape: bevel;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#headerbutton:hover{
  & .bar{
    background: var(--brödtext);
    box-shadow: 0px 0px 10px var(--brödtext);
  } 
  cursor: pointer;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 150px;
}
nav a{
  font-family: "Doto", sans-serif;
  color: var(--brödtext);
  text-decoration: none;
  font-size: 40px;
}
nav a:hover{
  color: var(--green);
  text-shadow: 0px 0px 10px var(--green);
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding: 50px;
}
 main img{
  width: 1000px;
}
main .text{
  background: var(--backcolor);
  width: 1000%;
}
main .text section{
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}